:root {
  --blue-dark: hsl(238, 29%, 16%);
  --soft-red: hsl(14, 88%, 65%);
  --soft-violet: hsl(273, 75%, 66%);
  --soft-blue: hsl(240, 73%, 65%);
  --light-grayish-blue: hsl(240, 5%, 91%);
  --very-dark-grayish-blue: hsl(237, 12%, 33%);
  --dark-grayish-blue: hsl(240, 6%, 50%);
}

html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  font-size: 12px;
  font-family: "Kumbh Sans", sans-serif;
}

.faq {
  background-image: linear-gradient(
    180deg,
    var(--soft-violet) 0%,
    var(--soft-blue) 100%
  );
  height: 745px;
  padding: 1px;
}
@media screen and (min-width: 1024px) {
  .faq {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.faq .card {
  background-color: white;
  border-radius: 23px;
  padding: 25px 25px 32px;
  margin: 147px 23px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}
@media screen and (min-width: 1024px) {
  .faq .card {
    padding: 0;
    flex-direction: row;
    width: 923px;
    height: 508px;
    margin-left: 65px;
  }
}
.faq .card .card__head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 35px;
}
@media screen and (min-width: 1024px) {
  .faq .card .card__head {
    flex-basis: 45%;
    height: 100%;
    margin-bottom: 0;
    background-image: url("../images/illustration-woman-online-desktop.svg"),
      url("../images/bg-pattern-desktop.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: left -85px center, left -380px bottom -110px;
    background-size: 470px, 750px 900px;
  }
}
.faq .card .card__head .card__img__desktop {
  display: none;
}
@media screen and (min-width: 1024px) {
  .faq .card .card__head .card__img__desktop {
    display: flex;
    margin-bottom: -85px;
    margin-left: -91px;
    align-self: flex-start;
    transition: 0.3s all ease;
  }
  .faq .card .card__head .card__img__desktop--move {
    transform: translateX(-35px);
  }
}
@media screen and (min-width: 1024px) {
  .faq .card .card__head .card__img__mobile {
    display: none;
  }
}
.faq .card .card__head .card__img__mobile:first-child {
  margin-top: -134px;
  margin-left: -27px;
}
.faq .card .card__head .card__img__mobile:nth-child(2) {
  margin-top: -90px;
}
.faq .card .card__body {
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .faq .card .card__body {
    flex-basis: 55%;
    padding: 40px 112px 45px 45px;
    margin-left: 34px;
  }
}
.faq .card .card__body .card__title {
  font-size: 2.7em;
  text-align: center;
  margin: 0;
  margin-bottom: 13px;
}
@media screen and (min-width: 1024px) {
  .faq .card .card__body .card__title {
    text-align: left;
    margin-bottom: 13px;
  }
}
.faq .card .card__body .details-faq {
  border-bottom: thin solid var(--light-grayish-blue);
  margin-bottom: 5px;
}
.faq .card .card__body .details-faq:not([open]) .details-faq__summary:after {
  content: "";
  position: absolute;
  right: 0;
  width: 10px;
  height: 10px;
  background-image: url("../images/icon-arrow-down.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  transition: 0.3s all ease;
}
.faq .card .card__body .details-faq[open] .details-faq__summary {
  font-weight: 700;
  color: var(--blue-dark);
}
.faq .card .card__body .details-faq[open] .details-faq__summary:after {
  content: "";
  position: absolute;
  transform: rotate(180deg);
  right: 0;
  width: 10px;
  height: 10px;
  background-image: url("../images/icon-arrow-down.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  transition: 0.3s all ease;
}
.faq .card .card__body .details-faq .details-faq__info {
  margin-top: -3px;
  margin-bottom: 15px;
  font-size: 1.1em;
  line-height: 1.4;
  letter-spacing: 0.1px;
  color: var(--dark-grayish-blue);
}
@media screen and (min-width: 1024px) {
  .faq .card .card__body .details-faq .details-faq__info {
    margin-bottom: 10px;
  }
}
.faq .card .card__body .details-faq .details-faq__summary {
  font-size: 1.2em;
  position: relative;
  padding: 16px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  letter-spacing: -0.1px;
  cursor: pointer;
  outline: none;
}
.faq .card .card__body .details-faq .details-faq__summary:hover {
  color: #f47b56;
}
.faq
  .card
  .card__body
  .details-faq
  .details-faq__summary::-webkit-details-marker {
  display: none;
}

/*# sourceMappingURL=styles.css.map */
